.faq-session {
    width: 100%;
    padding: 2rem 0;
}

.faqs-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1.3rem;
}

.faqs-header {
    font-size: clamp(1.7rem, 1.591rem + 0.55vw, 2rem);
    color: #000;
    line-height: 1.1;
    text-align: center;
    font-weight: 700;
}

.faqs-subtitle {
    margin-top: .8rem;
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
    color: #333;
}


.faq {
    border: 1px solid rgb(19, 19, 67);
    padding: 1rem;
    border-radius: 50px;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 2rem;
}

.faq-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid rgb(19, 19, 67);
}

.faq-container:last-child {
    border: 0;
}

.faq-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-title {
    font-size: clamp(1rem, 0.855rem + 0.73vw, 1.4rem);
    line-height: 1.1;
    font-weight: 700;
    color: #000;
    width: 80%;
}

.faq-inner-container button {
    font-size: 40px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(17, 17, 62);
    border: none;
    color: #fff;
}

.faq-inner-container button span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-collapse {
    padding-top: 14px;
    font-size: 18px;
    color: #333;
    line-height: 1.3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    max-width: 80%;
}

.faq-collapse.open {
    max-height: 200px;
    padding-top: 14px;
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
}

@media screen and (max-width: 560px) {
    .faq-title {
        margin-right: 14px;
    }
}